.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 40px;
}

.navLinks {
  display: flex;
  gap: 20px;
  margin-left: auto; /* This will float it to the right */
}

.navLinks a {
  text-decoration: none;
  color: #333;
}

.authButton button {
  padding: 10px 10px;
  border: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px
}

.authButton button:hover {
  background-color: #357ab8;
}
