/* .centered_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  gap: 0;
  padding: 45px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-size: cover; 
    background-image: url(../public/evangadi-bg.jpg);
}

.login_box {
  margin-top: 100px;
  margin-left: 55px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 610px;
  height: 450px;
}

.about_box {
  margin-top: 100px;
  width: 610px;
  height: 450px;
  box-shadow: none;
  padding: 20px 30px;
}

.about {
  color: #fb8402;
}

.login_box h2,
.about_box h3 {
  margin-top: 0;
}

.formGroup {
  margin-bottom: 15px;
  width: 100%;
}
.formGroup:last-of-type{
  display: flex;
}
.eye{
  margin-left: -40px;
  display: flex;
  align-items: center;
  cursor: pointer;
 
}
.eye:hover{
border: none;
outline: none;
}
.input {
  width: 100%;
  height: 55px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginButton {
  background-color: #0056b3;
  margin-top: 30px;
  height: 55px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.loginButton:hover {
  background-color: #007bff;
}

.forgotPasswordLink {
  padding-left: 400px;
  color: #fb8402;
}

.register_link {
  margin-bottom: 35px;
  margin-top: 10px;
}

.register_link,
.forgotPasswordLink,
.createAccountButton {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.createAccountButton {
  background-color: #fb8402;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.createAccountButton:hover {
  background-color: #fb8402;
}

.black-text {
  color: #333;
}

.highlightText {
  color: #fb8402;
  font-weight: bold;
}

.evangadi_text {
  color: rgb(123, 34, 0);
  font-weight: 900;
  font-size: 34px;
}
.errorMessage {
  color: red;
  margin-bottom: 10px;
}
.evanga {
  font-size: 45px ;
  color: rgb(204, 84, 47);
  font-weight: 900; 
}
.di_network {
  font-size: 45px ;
  color: rgb(129, 35, 0); 
  font-weight:900;
} */

.centered_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 110vh;
  gap: 40px;
  padding: 80px 10px;
  margin-bottom: 35px;
  box-sizing: border-box;
}

.login_box {
  /* margin-top: 100px; */
  margin-left: 55px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  height: 500px;
}

.about_box {
  /* margin-top: 100px; */
  width: 700px;
  height: 450px;
  box-shadow: none;
  padding: 20px 30px;
}

.about {
  color: #fb8402;
}

.login_box h2{
  margin-bottom:15px;
  margin-top: 10px;
}
/* .about_box h2 {
  margin: 10px 0;
} */
.about_box p{
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.formGroup {
  margin-bottom: 15px;
  width: 100%;
}
.formGroup:last-of-type{
  display: flex;
}
.input {
  width: 100%;
  height: 55px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ;
}
input:focus{
  border: 1px solid #fb8402;
}

.loginButton {
  background-color:  #007bff;
  margin: 30px 0;
  height: 55px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition : all 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}
.eyes{
  color: #ccc;
  display: flex;
  align-items: center;
  margin-left: -35px;
  cursor: pointer;
  transition : all 0.3s ease;
}
.eyes:hover{
  color: #fb8402;
}
.activeEye{
  color: #fb8402 !important;
}
.forgotPasswordLink {
  padding-left: 375px;
  color: #fb8402;
}

.register_link {
  margin-bottom: 35px;
}

.register_link,
.forgotPasswordLink {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.createAccountButton {
  margin: 25px 0;
  background-color: #fb8402;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.createAccountButton:hover {
  background-color: #c86700;
}

.black-text {
  color: #333;
}

.highlightText {
  color: #fb8402;
  cursor: pointer;
  padding-left: 5px;
}

.evangadi_text {
  color: rgb(123, 34, 0);
  font-weight: 900;
  font-size: 34px;
}
.errorMessage {
  color: red;
}